.categories-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .category-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        column-gap: 1rem;
    }

    .category-header {
        cursor: pointer;
        display: inline-block;
        padding: 0 1.5rem 0.5rem;
    }

    .category-header:hover {
        outline: 1px solid grey;
    }

}