.categories-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .category-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 10px;
    }

    .category-header {
        cursor: pointer;
        display: inline-block;
        padding: 0 15px 5px;
    }

    .category-header:hover {
        outline: 1px solid grey;
    }

}