.checkout-item-container {
    width: 100%;
    
    display: flex;
    align-items: center;

    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;

    .image-container {
        width: 23%;
        padding-right: 15px;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .name, .quantity, .price {
        width: 23%;
    }

    .quantity {
        display: flex;

        .arrow {
            cursor: pointer;
            user-select: none;
        }

        .value {
            margin: 0 10px;
        }
    }

    .removeBtn {
        border: none;
        background: none;
        font-size: 18px;
        cursor: pointer;
    }



}

