.authentication-container {
    display: flex;
    max-width: 90rem;
    justify-content: space-between;
    margin: 3rem auto;
    flex-wrap: wrap;
    gap: 3rem;
}

.authentication-container div{
    margin: 0 auto;
}