.authentication-container {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    margin: 30px auto;
    flex-wrap: wrap;
    gap: 30px;
}

.authentication-container div{
    margin: 0 auto;
}