html {
  width: 100%;
  overflow-x: none;
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 2rem 2vw;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  max-width: 120rem;
  margin: auto;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 75em) {
  body {
    padding: 2rem 4vw;
  }
}

@media screen and (max-width: 45em) {
  html {
    font-size: 56%;
  }
}